<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <h1>Today</h1>
      <p>
        
        <% today = DateTime.strftime('%D %>
        <%= "The date is" + " " + today %>
      </p>
      </body>
</html>


