require "pry"

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <h1>Today</h1>
      <p>
        
       <% d =  DateTime.new %>
        <% today = d.strftime('%A, %B  %e, %Y') %>
        <%= "The date is" + " " + today %>
      </p>
      </body>
</html>


